.imgGallary {
    position:absolute;
    left:5px;
    right: 15px;
    top:199%;
    float:;
    right: 0;
    width: 99.5%;
    height: 500px;
    padding:;
    border-style: solid;
    border-width:1px; 
    border-color: orange;
    border-radius:10px ;
   
}